<!DOCTYPE html>
<html lang="en">
    <%- include('partials/header.ejs') %>
<body>
    <%- include('partials/nav.ejs') %>

    <div class="blog-contents">
        <h2>about us</h2>
        <p>Welcome to our blog! We are passionate about sharing insights, stories, and updates that matter to our community. Our goal is to provide valuable content that informs, inspires, and engages our readers.

            Our Mission
            
            At [Your Blog Name], we strive to create a space where readers can find high-quality articles on a variety of topics. Whether it's the latest trends, thoughtful opinions, or practical advice, we aim to offer content that resonates with our audience.
            
            Our Values
            
            Integrity: We believe in delivering honest and accurate information.
            Innovation: We are committed to bringing fresh perspectives and new ideas.
            Community: We value the connection with our readers and encourage interaction and feedback.
            Get in Touch
            
            We’d love to hear from you! If you have any questions, suggestions, or just want to say hello, feel free to contact us.
            
            Thank you for visiting our blog. We hope you enjoy reading our content as much as we enjoy creating it!</p>
    </div>

    <%- include('partials/footer.ejs') %>
</body>
</html>